.header-section {
  background-image: url('../../../public/images/spices-img.jpg');
  color: white;
  background-size: cover;
  background-position: center;
  text-align: right;
  padding: 2em 4em;
  height: 25em
}

.header-section h2 {
  font-size: 3em;
}

.header-section p {
  font-size: 1.5em;
}

.header-section img {
  height: 20em
}