
.restaurant-card {
  border: 3px solid black;
  border-radius: 10px;
  width: 60%;
  margin: 3em auto
}

.restaurant-card img {
  width: 10em;
}

.restaurant-card-header {
  display: flex;
  flex-direction: row-reverse;
}

.restaurant-card-header img {
  flex-basis: 20%;
  padding: 1em
}

.restaurant-card-header p {
  flex-basis: 80%;
  text-align: left;
  padding: 1em 0 0 2em;
  font-size: 2em;
}

.restaurant-address {
  text-align: left;
  margin-left: 1em;
}

.cuisine-tags {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  color: white;
  margin-left: 1em;
}

.cuisine-tags p {
  border: none;
  border-radius: 10px;
  background-color: orangered;
  padding: 0.1em 0.5em;
  margin: 0.2em 0.5em
}

.restaurant-description {
  margin-left: 1em;
  text-align: left;
}